*{
    margin: 0;
    box-sizing: border-box;
}

.container{
    margin: auto;
    width: 80%;
    text-align: center;
}

.clear{
    clear: both;
}

section .box{
    background-color: white;
    box-shadow: 0px 1px 4px 4px rgb(128, 128, 126);
    margin: 20px 2.5px;
    border-radius: 5px;
    float: left;
}

section .box img{
    width: 100%;
    margin-bottom: 10px;
}

section .box p{
    padding: 10px;
    font-style: italic;
    color: rgb(128,128,128);
}



@media screen and (min-width:1200px) {
    section .box{
        width: 19%;
    }
}

@media screen and (min-width: 992px) and (max-width:1200px) {
    section .box{
        width: 24%;
    }
}

@media screen and (min-width: 768px) and (max-width:992px) {
    section .box{
        width: 32%;
    }
}
@media screen and (min-width: 600px) and (max-width: 768px) {
    section .box{
        width: 48%;
    }
}
@media screen and (max-width: 600px) {
    section .box{
        width: 100%;
    }
}